section {
	padding: 80px 0;

	&:nth-child(odd) {
		background: lighten($gray-200, 5%);
	}

	.section-devider {
		display: block;
		height: 1px;
		margin: 50px 0;

		&.transparent {
			background-color: transparent;
		}
	}

	&.py-sm {
		padding-top: 50px !important;
		padding-bottom: 50px !important;
	}
	&.py-lg {
		padding-top: 140px !important;
		padding-bottom: 140px !important;
	}

	&.pattern-style-1 {
		background-image: url(../../imgs/style-1.png);
	}
	&.pattern-style-2 {
		background-image: url(../../imgs/style-2.png);
	}
	&.pattern-style-3 {
		background-image: url(../../imgs/style-3.png);
	}
	&.pattern-style-4 {
		background-image: url(../../imgs/style-4.png);
	}

	&.has-overlay {
		position: relative;

		* {
			position: static;
			z-index: 9;
		}

		&:after {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba($white,.6);
			z-index: 1;
		}
	}

	&.has-img-bg {
		position: relative;
		background: url(../../imgs/section.jpg) no-repeat center top fixed;
		background-size: cover;
		color: $white;

		* {
			position: relative;
			z-index: 100;
		}

		&:after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba(darken($primary,50%),.7);
			z-index: 1;
		}
	}
}

.section-subtitle {
	font-size: calc(14px + (17 - 14) * ((100vw - 320px) / (1200 - 320)));
	font-weight: 400;
	margin-bottom: 0px;
	opacity: .7;
	
	@include media-breakpoint-up(lg) {
		font-size: 17px;
	}
}

.section-title {
	font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1200 - 320))) !important;
	margin-bottom: 15px; 
	
	@include media-breakpoint-up(lg) {
		font-size: 30px;
	}
}
 
.components-section-title {
	font-size: calc(18px + (23 - 18) * ((100vw - 320px) / (1200 - 320)));
	margin-bottom: 15px;
	
	@include media-breakpoint-up(lg) {
		font-size: 23px;
	}
}

.section-secondary-title {
	font-size: 17px;
	opacity: .7;
	margin-bottom: 15px;
}

.imgSize{
	height: 220px;
	width: 220px;
	
}

.img-holder{
	transition:all .5s ease;
	
	&:hover{
		transform: scale(1.12);
		margin-bottom: 10px;

	}
}

.img-shadow-dark{
box-shadow: 0px -3px 29px 6px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px -3px 29px 6px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -3px 29px 6px rgba(0,0,0,0.75);

}

.img-shadow{

	box-shadow: 0px 0px 31px 3px rgba(237,232,232,0.75);
-webkit-box-shadow: 0px 0px 31px 3px rgba(237,232,232,0.75);
-moz-box-shadow: 0px 0px 31px 3px rgba(237,232,232,0.75);

}
.img-holder-coctail{

	&:hover{

	   animation: shake 0.5s; 
       animation-iteration-count: 1s;
	}
}


@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}